<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header color="primary">Our History</ion-card-header>
    <ion-card-content>
      <p>
        {{historyInfo}}
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header color="primary">Corporate Leadership</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item text-wrap *ngFor="let leader of leaders">
          <ion-avatar item-start>
            <img src="{{baseURL + leader.image}}">
          </ion-avatar>
          <h2>{{leader.name}} {{leader.abbr}}</h2>
          <h3>{{leader.designation}}</h3>
          <p>{{leader.description}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
