<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header color="primary">Location Information</ion-card-header>
    <ion-card-content>
      <p>{{info.address}}</p>
      <p>{{info.region}}</p>
      <p>{{info.city}}</p>
      <p><ion-icon name="md-call"></ion-icon>: {{info.telnum}}</p>
      <p><ion-icon name="md-print"></ion-icon>: {{info.faxnum}}</p>
      <p><ion-icon name="md-mail"></ion-icon>: {{info.email}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="md-call"></ion-icon>
          <div>CALL</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="sendEmail()">
          <ion-icon name="md-mail"></ion-icon>
          <div>EMAIL</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
