<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary-pale">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Comment</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label color="primary" floating>Your Name</ion-label>
      <ion-input formControlName="author" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Your Rating</ion-label>
      <ion-range min="0" max="5" step="1" snaps="true" formControlName="rating">
        <ion-icon range-left small ios="ios-sad" md="md-sad"></ion-icon>
        <ion-icon range-right large ios="ios-happy" md="md-happy"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Your Comment" required rows="12" formControlName="comment"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!commentForm.valid">Submit</button>
  </form>
</ion-content>
